* {
    margin: 0px;
    padding: 0px;
}
/* 固定边框大小 */
img {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 254px;
    height: 158px;
}
/* Logo相关 */
video {
    position: fixed;
    height: 2560px;
    width: 1707px;
    top: -806px;
    left: 0px;
    z-index: -11;
}
/* 背景视频相关 */
source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}